# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.env
venv/

# OS
.DS_Store
Thumbs.db

# SQLite database
*.db
instance/
#Project-specific
# Open .gitignore and add
project_notes.txt
track-your-hobbies-documentation.md